<section class="fade-wrapper padding-top-4 padding-bottom-4">
    <div class="container">
        <h2 class="g1">A better home modification process, built from the ground up.</h2>
        <span class="underline-left"></span>
        <p>
            Since the beginning, CorHome’s mission was to simplify the workers’ compensation home modification process.
            Delivering seamless and comprehensive construction services to workers’ compensation carriers nationwide,
            CorHome uses a signature project manager-centric approach while drawing on years of occupational therapy and
            medical experience. In addition, our network of licensed contractors, reliable product selection and deep
            understanding of both construction services and workers’ compensation, makes the home modification process
            more efficient for everyone involved.
        </p>
        <p>
            CorHome was developed as a branch of CorLife, LLC, a leading provider of durable medical equipment, supplies
            and home health care services to workers’ compensation carriers nationwide. CorLife was founded on
            principles of fair pricing, excellent service and transparent billing. While now a separate entity, CorHome
            still maintains those values today and its kinship to CorLife provides customers with special efficiencies
            when DME, home health care and supplies are applicable. With open communication, CorHome and CorLife work
            together to see the big picture of claims and ensure the best outcome for the injured worker.
        </p>
    </div>
</section>