<section class="intro-section padding-top-4 padding-bottom-4">
    <div class="container">
        <h2 class="g1 text-center">A better home modification process, built from the ground up.</h2>
        <span class="center-underline"></span>
        <p>
            Since the beginning, CorHome’s mission was to simplify the workers’ compensation home modification process.
            Delivering seamless and comprehensive construction services to workers’ compensation carriers nationwide,
            CorHome uses a signature project manager-centric approach. In addition, our network of licensed contractors,
            reliable product selection and deep understanding of both construction services and workers’ compensation,
            makes the home modification process more efficient for everyone involved.</p>
        <p>
            CorHome was developed as a branch of CorLife, LLC, a leading provider of durable medical equipment, supplies
            and home health care services to workers’ compensation carriers nationwide. CorLife was founded on
            principles of fair pricing, excellent service and transparent billing. While now a separate entity, CorHome
            still maintains those values today and its kinship to CorLife provides customers with special efficiencies
            when DME, home health care and supplies are applicable. It’s a really good collaboration. We work together
            to understand the full picture of the claim. Open communication creates knowing more of the big picture and
            ensures everyuthing works for the injured worker.
        </p>
    </div>
</section>