* {
  box-sizing: border-box;
}
body {
  // background-image: url("/images/CorHome-Mock.jpg");
  // background-size: cover;
  // position: relative;
  // z-index: 999999;
  // opacity: .5;
  background-color: $white;
  font-family: $primaryFont;
  height: 200vh;
  overflow-x: hidden;
}
.site-main {
  opacity: 1;
  margin-top: 65px;
  @include breakpoint (md) {
    margin-top: 85px;
  }
  @include breakpoint (lg) {
    margin-top: 170px;
  }
}
ul {
  margin: 0;
}