<!DOCTYPE html>
<html lang="en">
{{ partial "head" . }}
{{ partial "header" . }}

<body data-barba="wrapper">
    <main id="main-content" class="site-main" role="main" data-barba="container"
        data-barba-namespace="{{ lower .Page.Title }}">
        <div class="smooth-scroll" data-scroll-container>
            {{ partial "blog/blog-hero" . }}
            <div class="lane-wide blog">
                {{ .Content }}
            </div>
            {{ partial "cta" . }}
            {{ partial "footer" . }}
        </div>
    </main>
</body>

</html>