<section class="service-list">
    <div class="service-list__wrapper flex flex-column-reverse flex-row-m">
        <div class="service-list__content w-100 w-80-m w-50-l">
            <div class="service-list__content-inner fade-up">
                <h3 class="service-list__heading g4"><span class="underline">Complete Home Assessments</span></h3>
                <p>All assessments are completed on site by an occupational therapy professional who collaborates with
                    both medical staff and licensed contractors.</p>
                <ul>
                    <li>Sensitive to timelines and discharge dates</li>
                    <li>Measurements, drawings and photos of current home</li>
                    <li>Professional floor plan designs for various options</li>
                    <li>Medical and functional necessity is top consideration</li>
                    <li>Understanding of durable medical equipment in the home</li>
                    <li>Alliance with carrier to determine desired outcomes</li>
                    <li>Team input from treating therapists and nurse case managers</li>
                </ul>
            </div>
        </div>
        <div class="icon-container">
            {{ partial "svg-icons/home-assessments.svg" . }}
        </div>
        <div class="service-list__image zoom-image w-100 w-20-m w-50-l">
            <picture>
                <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/Complete-Home-Assessments-600.webp 480w, {{ .Site.BaseURL }}images/Complete-Home-Assessments-800.webp 768w, {{ .Site.BaseURL }}images/Complete-Home-Assessments-1200.webp 1024w" type="image/webp" >
                <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/Complete-Home-Assessments-600.webp 480w, {{ .Site.BaseURL }}images/Complete-Home-Assessments-800.webp 768w, {{ .Site.BaseURL }}images/Complete-Home-Assessments-1200.webp 1024w" type="image/jpeg" > 
                <img src="images/Complete-Home-Assessments-1200.jpg" alt="Woman drawing out blueprint for a complete home assessment on clear glass screen" class="cover zoom">
            </picture>
        </div>
    </div>
    <div class="flex flex-column flex-row-m">
        <div class="service-list__image zoom-image w-100 w-20-m w-50-l">
            <img src="/images/equipment-installations.jpg" alt="" class="cover zoom">
        </div>
        <div class="icon-container icon-container-center">
            {{ partial "svg-icons/equipment-installation.svg" . }}
        </div>
        <div class="service-list__content w-100 w-80-m w-50-l">
            <div class="service-list__content-inner fade-up">
                <h3 class="service-list__heading g4"><span class="underline">Equipment Installation</span></h3>
                <p>From grab bars to complex lifts, we tackle projects of all sizes and apply the same careful attention
                    to each installation.</p>
                <ul>
                    <li>Temporary, rental and long term</li>
                    <li>All lift types: vertical platform, stair, pool and ceiling track systems</li>
                    <li>Determine best lift system for functional and caregiving needs</li>
                    <li>Equally consider best functional design, budget and scope</li>
                    <li>Work exclusively with certified and licensed installers from manufacturers</li>
                    <li>Mindful of state-to-state variance in manufacturer’s licenses and certifications</li>
                    <li>Well-versed in quality product selection from reputable manufacturers with warranties</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex flex-column-reverse flex-row-m">
        <div class="service-list__content w-100 w-80-m w-50-l">
            <div class="service-list__content-inner fade-up">
                <h3 class="service-list__heading g4"><span class="underline">Full-Service Construction</span></h3>
                <p>With a dedicated construction services manager at the center of every home modification to organize,
                    communicate, inspect and plan, the result is a better smoother finished product.</p>
                <ul>
                    <li>Work closely with licensed and insured contractors nationwide</li>
                    <li>Dedicated, experienced project manager leads project from estimate to completion</li>
                    <li>Building, engineering and project management experience</li>
                    <li>Constant observance of project scope, schedule and budget</li>
                    <li>Project manager makes on-site visits when warranted</li>
                    <li>Regular detailed reports to the carrier throughout process</li>
                    <li>Communicate carrier’s terms and contractor’s abilities to injured worker</li>
                    <li>Increase accountability with the contractor, minimize overselling or deviating from scope</li>
                </ul>
            </div>
        </div>
        <div class="icon-container">
            {{ partial "svg-icons/full-service-construction.svg" . }}
        </div>
        <div class="service-list__image zoom-image w-100 w-20-m w-50-l">
            <img src="/images/full-service-construction.jpg" alt="" class="cover zoom">
        </div>
    </div>
</section>