<section class="services-intro padding-top-10 padding-bottom-10 bg-blue text-white">
    <div class="container">
        <p>CorHome provides comprehensive home modification services including <strong>skilled assessments, equipment
                installations</strong> and even <strong>large-scale renovations</strong>. With a firm focus on the
            injured worker, our unique <strong>construction services manager</strong> brings a well-rounded
            understanding of construction, medical recommendations and workers’ compensation policies and provisions to
            each project. This vital role—combined with our streamlined process—guarantees projects are
            <strong>completed on time, within budget</strong>, and most importantly, to <strong>meet the needs of
                injured workers.</strong></p>
    </div>
</section>