.site-header {
  background-color: $white;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.primary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
}
.brand-logo {
  opacity: 0;
  img {
    width: 70%;
    @include breakpoint (lg) {
      width: 100%;
    }
  }
}
.nav-list {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  transform: translateX(120%);
  transition: .3s ease-in-out;
  background-color: $white;
  padding: 0;
  opacity: 0;
  @include breakpoint(lg) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(0);
    opacity: 1;
  }
}
.nav-open {
  transform: translateX(0);
  opacity: 1;
}
.nav-list-item {
  list-style-type: none;
  @include breakpoint (lg) {
    display: inline-block;
  }
}
.nav-item {
  position: relative;
  text-decoration: none;
  color: $darkBlue;
  padding: 1.2rem 2rem;
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  display: flex;
  align-items: center;
  letter-spacing: 0.015em;
  white-space: nowrap;
  @include breakpoint (lg) {
    height: 150px;
  }
}
.referral {
  background: $orangeGradient;
  color: $white;
  height: auto;
  font-size: 2.4rem;
  font-weight: 700;
  padding: 2.25rem 3rem;
  @include breakpoint (lg) {
    border-radius: 15px;
  }
}
.current {
  position: relative;
  font-weight: 700;
  &:before {
    background: $orangeGradient;
    height: 100%;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    @include breakpoint (lg) {
      height: 25px;
      width: 100%;
      top: -10px;
    }
  }
}
.menu-button-wrap {
  cursor: pointer;
  display: flex;
  align-items: center;
  @include breakpoint(lg) {
    display: none;
  }
}
.mobile-menu-label {
  margin-top: -10px;
}
.mobile-menu-wrapper {
  transform: translateY(-100%);
  @include breakpoint (lg) {
    display: none;
  }
}
