.about-hero {
  background-image: linear-gradient(0deg, #425368, #425368),
    url("/https://source.unsplash.com/random");
  background-blend-mode: multiply;
  @include breakpoint(lg) {
    background-image: linear-gradient(0deg, #425368, #425368),
      url("https://source.unsplash.com/random");
    background-blend-mode: multiply;
  }
}
