.blog-hero {
    background-image: linear-gradient(0deg, #425368, #425368), url("/https://source.unsplash.com/random");
    background-blend-mode: multiply;
    @include breakpoint (lg) {
        background-image: linear-gradient(0deg, #425368, #425368), url("https://source.unsplash.com/random");
    background-blend-mode: multiply;
    }
}
.blog {
    padding: 0 0 6rem 0;
    margin-top: -50px;
    position: relative;
    p {
        margin: 0 20px 20px 20px;
        @include breakpoint (md) {
            margin: 0 0 20px 0;
        }
    }
}
.blog-summary {
    margin-bottom: 4rem;
    border-bottom: 1px solid $darkBlue;
    &__link {
        text-decoration: none;
        color: $darkBlue;
        h3 {
            transition: .3s ease;
        }
        &:hover {
            h3, span {
                color: $darkOrange;
            }  
            .blog-summary__read-more {
                svg {
                    fill: $darkOrange;
                    transform: translateX(5px);
                }
            }
            .blog-summary__img {
                opacity: .7;
            }
        }
    }
    &__image-wrap{
        margin-bottom: 2rem;
    }
    &__img {
        opacity: 1;
        transition: opacity .5s ease-out;
    }
    &__content {
        padding: 0 2rem;
    }
    &__read-more {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        transition: .5s ease;
        svg {
            width: 20px;
            margin-left: 5px;
            transition: .5s ease;
        }
    }
}