.home-hero {
    background-image: url("/images/corHome-background.jpg");
}
.hero-inner-wrapper {
    height: 100%;
    @include breakpoint (md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
.hero-title, .hero-subtitle {
    color: $white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
.hero-title {
    letter-spacing: -0.025em;
}
.hero-subtitle {
    font-weight: 400;
    font-family: $primaryFont;
    letter-spacing: 0.015em;
    margin-bottom: 40px;
}