<section class="fade-wrapper padding-top-4 padding-bottom-4">
    <div class="container">
        <h2 class="g1">Review our latest projects to get ideas and see our breadth of work.</h2>
        <span class="underline-left"></span>
        <p>
            Every injured worker, their home and their circumstance is different. Each project presents unique
            challenges. CorHome's expert project managers draw on years of occupational therapy and medical experience
            to supply seamless solutions. Browse our project gallery to see our home modification process in action!
        </p>
    </div>
</section>
<section class="gallery margin-bottom-4">
    <div class="container-wide">
        <div class="data-scroll-section">
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-1-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-1-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-1-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-1-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-1-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-1-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-1-800.jpg" alt="bathroom toilet and tub before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-800.jpg" alt="walk-in shower after a remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-800.jpg" alt="bathroom sink before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-800.jpg" alt="bathroom sink after a remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-1-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-1-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-1-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-1-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-1-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-1-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-1-800.jpg" alt="bathroom tub and walk-in shower before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-3-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-3-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-3-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-3-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-3-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-3-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-3-800.jpg" alt="bathroom sink before a remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-2-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-2-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-2-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-2-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-2-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-2-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-2-800.jpg" alt="bathroom toilet and walk-in shower after a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-4-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-4-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-4-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-4-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-4-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-4-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-2-4-800.jpg" alt="bathroom sink after a remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-1-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-1-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-1-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-1-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-1-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-1-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-1-800.jpg" alt="bathroom tub and walk-in shower before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-2-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-2-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-2-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-2-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-2-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-2-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-3-2-800.jpg" alt="bathroom sink before a remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-2-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-2-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-2-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-2-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-2-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-2-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-2-800.jpg" alt="partially finished bathroom before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-1-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-1-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-1-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-1-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-1-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-1-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-4-1-800.jpg" alt="bathroom remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-1-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-1-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-1-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-1-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-1-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-1-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-1-800.jpg" alt="bathroom tub and walk-in shower before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-3-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-3-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-3-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-3-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-3-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-3-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-3-800.jpg" alt="bathroom sink before a remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-2-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-2-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-2-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-2-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-2-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-2-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-2-800.jpg" alt="partially finished bathroom before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-4-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-4-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-4-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-4-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-4-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-4-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-5-4-800.jpg" alt="bathroom remodel by CorHome">
                    </picture>
                </div>
            </div>
        </div>
        <div class="data-scroll-section">
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-6-1-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-6-1-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-6-1-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-6-1-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-6-1-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-6-1-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-6-1-800.jpg" alt="partially finished bathroom before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-6-2-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-6-2-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-6-2-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-6-2-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-6-2-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-6-2-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-6-2-800.jpg" alt="bathroom remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-1-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-1-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-1-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-1-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-1-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-1-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-1-800.jpg" alt="partially finished bathroom before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-2-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-2-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-2-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-2-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-2-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-2-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-2-800.jpg" alt="bathroom remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-3-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-3-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-3-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-3-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-3-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-3-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-3-800.jpg" alt="partially finished bathroom before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-4-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-4-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-4-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-4-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-4-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-4-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-7-4-800.jpg" alt="bathroom remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/handrail-1-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/handrail-1-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/handrail-1-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/handrail-1-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/handrail-1-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/handrail-1-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/handrail-1-800.jpg" alt="partially finished bathroom before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/handrail-2-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/handrail-2-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/handrail-2-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/handrail-2-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/handrail-2-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/handrail-2-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/handrail-2-800.jpg" alt="bathroom remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-1-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-1-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-1-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-1-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-1-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-1-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-1-800.jpg" alt="partially finished bathroom before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-2-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-2-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-2-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-2-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-2-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-2-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-2-800.jpg" alt="bathroom remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-3-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-3-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-3-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-3-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-3-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-3-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-3-800.jpg" alt="partially finished bathroom before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-4-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-4-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-4-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-4-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-4-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-4-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-4-800.jpg" alt="bathroom remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-5-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-5-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-5-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-5-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-5-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-5-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-5-800.jpg" alt="partially finished bathroom before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-6-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-6-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-6-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-6-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-6-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-6-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/whole-home-remodel-6-800.jpg" alt="bathroom remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/pool-lift-1-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/pool-lift-1-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/pool-lift-1-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/pool-lift-1-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/pool-lift-1-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/pool-lift-1-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/pool-lift-1-800.jpg" alt="partially finished bathroom before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/pool-lift-2-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/pool-lift-2-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/pool-lift-2-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/pool-lift-2-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/pool-lift-2-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/pool-lift-2-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/pool-lift-2-800.jpg" alt="bathroom remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-1-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-1-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-1-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-1-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-1-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-1-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-1-800.jpg" alt="bathroom toilet and tub before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-2-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-2-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-2-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-2-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-2-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-2-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-2-800.jpg" alt="walk-in shower after a remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-3-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-3-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-3-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-3-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-3-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-3-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-3-800.jpg" alt="bathroom toilet and tub before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-4-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-4-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-4-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-4-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-4-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-4-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-4-800.jpg" alt="walk-in shower after a remodel by CorHome">
                    </picture>
                </div>
            </div>
            <div class="gallery__row flex flex-column flex-row-m">
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-5-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-5-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-5-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-5-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-5-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-5-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-5-800.jpg" alt="bathroom toilet and tub before a remodel by CorHome">
                    </picture>
                </div>
                <div class="gallery__item fade-up w-100 w-50-m">
                    <picture>
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-6-600.avif 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-6-800.avif 800w" type="image/avif" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-6-600.webp 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-6-800.webp 800w" type="image/webp" >
                        <source sizes="(max-width: 56.25em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-6-600.jpg 500w, {{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-6-800.jpg 800w" type="image/jpeg" > 
                        <img src="{{ .Site.BaseURL }}images/project-gallery/bathroom-remodel-8-6-800.jpg" alt="walk-in shower after a remodel by CorHome">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>