<section class="intro-section padding-top-4 padding-bottom-4">
    <div class="container">
        <h2 class="g1">Get ideas and see our breadth of work by reviewing our latest projects.</h2>
        <span class="underline-left"></span>
        <p>
            Every injured worker, their home and their circumstance is different. Each project presents unique
            challenges. With the help our (OT involvement?) expert project managers, CorHome can provide seamless
            solutions. Browse our project gallery to see our home modification process in action!
        </p>
    </div>
</section>