<section class="benefits">
    <div class="benefit__wrapper flex flex-column flex-row-m">
        <div class="benefit__content w-100 w-50-m text-center">
            <div class="benefit__content-inner fade-up">
                <h3 class="benefit__heading g1"><span class="underline">Confidence</span> for the carrier</h3>
                <p>Know with certainty the project is done on time, within budget and according to the approved scope
                    with
                    on-site visits, skilled assessments and detailed reports.</p>
            </div>
        </div>
        <div class="benefit__image zoom-image w-100 w-50-m">
            <picture>
                <source sizes="(max-width: 75em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/Confidence-for-the-Carrier-600.webp 500w, {{ .Site.BaseURL }}images/Confidence-for-the-Carrier-800.webp 800w, {{ .Site.BaseURL }}images/Confidence-for-the-Carrier-1200.webp 1200w" type="image/webp" >
                <source sizes="(max-width: 75em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/trust-with-the-injured-worker-600.jpg 500w, {{ .Site.BaseURL }}images/Confidence-for-the-Carrier-800.jpg 800w, {{ .Site.BaseURL }}images/Confidence-for-the-Carrier-1200.jpg 1200w" type="image/jpeg" > 
                <img src="{{ .Site.BaseURL }}images/Confidence-for-the-Carrier-1200.jpg" alt="Woman sitting across from an injured worker in a wheelchair" class="cover zoom">
            </picture>
        </div>
    </div>
    <div class="flex flex-column-reverse flex-row-m">
        <div class="benefit__image zoom-image w-100 w-50-m">
            <picture>
                <source sizes="(max-width: 75em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/trust-with-the-injured-worker-600.webp 500w, {{ .Site.BaseURL }}images/trust-with-the-injured-worker-800.webp 800w, {{ .Site.BaseURL }}images/trust-with-the-injured-worker-1200.webp 1200w" type="image/webp" >
                <source sizes="(max-width: 75em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/trust-with-the-injured-worker-600.jpg 500w, {{ .Site.BaseURL }}images/trust-with-the-injured-worker-800.jpg 800w, {{ .Site.BaseURL }}images/trust-with-the-injured-worker-1200.jpg 1200w" type="image/jpeg" > 
                <img src="{{ .Site.BaseURL }}images/trust-with-the-injured-worker-1200.jpg" alt="Woman sitting across from an injured worker in a wheelchair" class="cover zoom">
            </picture>
        </div>
        <div class="benefit__content w-100 w-50-m text-center">
            <div class="benefit__content-inner fade-up">
                <h3 class="benefit__heading g1"><span class="underline">Trust</span> with the injured worker</h3>
                <p>Expectations are managed with compassion and sensitivity, while clearly communicating the carrier’s
                    terms
                    and contractor’s abilities. </p>
            </div>
        </div>
    </div>
    <div class="flex flex-column flex-row-m">
        <div class="benefit__content w-100 w-50-m text-center">
            <div class="benefit__content-inner fade-up">
                <h3 class="benefit__heading g1"><span class="underline">Cohesion</span> with the contractor</h3>
                <p>Get ultimate efficiency with a project manager who truly understands the entirety of both the
                    building
                    process and workers’ compensation insurance. </p>
            </div>
        </div>
        <div class="benefit__image zoom-image w-100 w-50-m">
            <picture>
                <source sizes="(max-width: 75em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/cohesion-with-the-contractor-600.webp 500w, {{ .Site.BaseURL }}images/cohesion-with-the-contractor-800.webp 800w, {{ .Site.BaseURL }}images/cohesion-with-the-contractor-1200.webp 1200w" type="image/webp" >
                <source sizes="(max-width: 75em) 100vw, 50vw" srcset="{{ .Site.BaseURL }}images/cohesion-with-the-contractor-600.jpg 500w, {{ .Site.BaseURL }}images/cohesion-with-the-contractor-800.jpg 800w, {{ .Site.BaseURL }}images/cohesion-with-the-contractor-1200.jpg 1200w" type="image/jpeg" > 
                <img src="{{ .Site.BaseURL }}images/cohesion-with-the-contractor-1200.jpg" alt="Woman sitting across from an injured worker in a wheelchair" class="cover zoom">
            </picture>
        </div>
    </div>
</section>