<section class="benefits">
    <div class="benefit__wrapper flex flex-column flex-row-m">
        <div class="benefit__content w-100 w-50-m text-center">
            <div class="benefit__content-inner fade-up">
                <h3 class="benefit__heading g1"><span class="underline">Confidence</span> for the carrier</h3>
                <p>Know with certainty the project is done on time, within budget and according to the approved scope
                    with
                    on-site visits, skilled assessments and detailed reports.</p>
            </div>
        </div>
        <div class="benefit__image zoom-image w-100 w-50-m">
            <picture>
                <source srcset="{{ .Site.BaseURL }}images/photo-1.webp" type="image/webp" >
                <source srcset="{{ .Site.BaseURL }}images/photo-1.jpg" type="image/jpeg" > 
                <img src="images/photo-1.jpg" alt="Alt Text!" class="cover zoom">
            </picture>
        </div>
    </div>
    <div class="flex flex-column-reverse flex-row-m">
        <div class="benefit__image zoom-image w-100 w-50-m">
            <picture>
                <source srcset="{{ .Site.BaseURL }}images/trust-with-the-injured-worker-optimized.webp" type="image/webp" >
                <source srcset="{{ .Site.BaseURL }}images/trust-with-the-injured-worker-optimized.jpg" type="image/jpeg" > 
                <img src="images/trust-with-the-injured-worker-optimized.jpg" alt="Alt Text!" class="cover zoom">
            </picture>
        </div>
        <div class="benefit__content w-100 w-50-m text-center">
            <div class="benefit__content-inner fade-up">
                <h3 class="benefit__heading g1"><span class="underline">Trust</span> with the injured worker</h3>
                <p>Expectations are managed with compassion and sensitivity, while clearly communicating the carrier’s
                    terms
                    and contractor’s abilities. </p>
            </div>
        </div>
    </div>
    <div class="flex flex-column flex-row-m">
        <div class="benefit__content w-100 w-50-m text-center">
            <div class="benefit__content-inner fade-up">
                <h3 class="benefit__heading g1"><span class="underline">Cohesion</span> with the contractor</h3>
                <p>Get ultimate efficiency with a project manager who truly understands the entirety of both the
                    building
                    process and workers’ compensation insurance. </p>
            </div>
        </div>
        <div class="benefit__image zoom-image w-100 w-50-m">
            <picture>
                <source srcset="{{ .Site.BaseURL }}images/cohesion-with-the-contractor-optimized.webp" type="image/webp" >
                <source srcset="{{ .Site.BaseURL }}images/cohesion-with-the-contractor-optimized.jpg" type="image/jpeg" > 
                <img src="images/cohesion-with-the-contractor-optimized.jpg" alt="Alt Text!" class="cover zoom">
            </picture>
        </div>
    </div>
</section>