<section class="benefits">
    <div class="benefit__wrapper flex flex-column flex-row-m">
        <div class="benefit__content w-100 w-50-m text-center">
            <div class="benefit__content-inner">
                <h3 class="benefit__heading g1"><span class="underline">Confidence</span> for the carrier</h3>
                <p>Know with certainty the project is done on time, within budget and according to the approved scope
                    with
                    on-site visits, skilled assessments and detailed reports.</p>
            </div>
        </div>
        <div class="benefit__image w-100 w-50-m">
            <img src="/images/photo-1.jpg" alt="" class="cover zoom zoom-1">
        </div>
    </div>
    <div class="flex flex-column-reverse flex-row-m">
        <div class="benefit__image w-100 w-50-m">
            <img src="/images/photo-2.jpg" alt="" class="cover zoom zoom-2">
        </div>
        <div class="benefit__content w-100 w-50-m text-center">
            <div class="benefit__content-inner">
                <h3 class="benefit__heading g1"><span class="underline">Trust</span> with the injured worker</h3>
                <p>Expectations are managed with compassion and sensitivity, while clearly communicating the carrier’s
                    terms
                    and contractor’s abilities. </p>
            </div>
        </div>
    </div>
    <div class="flex flex-column flex-row-m">
        <div class="benefit__content w-100 w-50-m text-center">
            <div class="benefit__content-inner">
                <h3 class="benefit__heading g1"><span class="underline">Cohesion</span> with the contractor</h3>
                <p>Get ultimate efficiency with a project manager who truly understands the entirety of both the
                    building
                    process and workers’ compensation insurance. </p>
            </div>
        </div>
        <div class="benefit__image w-100 w-50-m">
            <img src="/images/photo-3.jpg" alt="" class="cover zoom zoom-3">
        </div>
    </div>
</section>