<div class="hero {{ lower .Page.Title }}-hero w-100" data-scroll-section>
    <div class="hero__inner w-100 w-70-l">
        <h1 class="hero__title">A More Comfortable Home Modification Process</h1>
        <h2 class="hero__subtitle" f>CorHome brings a <strong>personal touch</strong> to workers’ compensation
            insurance.
        </h2>
        <div class="center-button">
            <a href="/about/" class="btn btn-primary">
                About us
            </a>
        </div>
    </div>
</div>