<section class="intro-section padding-top-4 padding-bottom-4">
    <div class="container">
        <h2 class="g1 text-center">Our Approach</h2>
        <span class="center-underline"></span>
        <p>CorHome’s unique approach is led by <strong>experienced professionals</strong> who bring years of building,
            engineering and project management experience to each claim. <strong>Collaboration</strong> with the
            carrier, injured worker and on-site contractor can make home modifications complex. But with our experts at
            the center of it all—to organize, communicate, inspect and plan—the process is <strong>seamless for
                everyone</strong>.</p>
    </div>
</section>