<section class="services padding-top-4 padding-bottom-4">
    <div class="container-wide">
        <h3 class="g1 text-center padding-bottom-2">Comprehensive Nationwide Services</h3>
        <div class="services__wrapper">
            <div class="services__col text-center">
                {{ partial "svg-icons/home-assessments.svg" . }}
                <h4>Complete Home Assessments</h4>
                <p>
                    All assessments are completed by an occupational therapy professional who collaborates with medical
                    staff and licensed contractors.
                </p>
            </div>
            <div class="services__col text-center">
                {{ partial "svg-icons/equipment-installation.svg" . }}
                <h4>Equipment Installation</h4>
                <p>
                    We tackle projects of all sizes including installation of grab bars, lifts and ramps. We also offer
                    temporary, rental and long-term solutions.
                </p>
            </div>
            <div class="services__col text-center">
                {{ partial "svg-icons/full-service-construction.svg" . }}
                <h4>Full-Service Construction</h4>
                <p>
                    Our unique approach includes all phases of construction from on-site assessments to planning and
                    execution by a licensed contractor.
                </p>
            </div>
        </div>
        <div class="text-center margin-top-2">
            <a href="/services/" class="btn btn-secondary">View all services</a>
        </div>
    </div>
</section>