/*--------------------------------------------------------------
8.0 Buttons
--------------------------------------------------------------*/
.btn {
	position: relative;
	z-index: 1;
	display: inline-block;
	letter-spacing: 1px;
	font-size: 2.4rem;
	font-weight: 700;
	letter-spacing: 0.015em;
	padding: 2.25rem 5rem;
	text-decoration: none;
	border-radius: 15px;
}
.btn-primary {
	color: $medBlue;
	background-color: $white;
	border-radius: 15px;
	&:hover,
	&:focus {
		
	}
}
.btn-secondary {
	color: $darkBlue;
	&:after {
		background-color: $darkBlue;
	}
	&:hover,
	&:focus {
		color: #fff;
		&:after {
			width: 100%;
			height: 100%;
		}
	}
}
.center-button {
	margin: 0 auto;
}